@import '@styles/mixins.sass'
    
.total-price-container
    @include row
    position: relative
    width: 100%

.cart-total-price
    @include column
    margin: 1%
    position: absolute

.total-price-container,
.cart-total-price
    @include flex
    @include justifyContent(center, center)