@import '@styles/mixins.sass'
    
.total-price-container
    @include row
    position: relative
    width: 100%

.cart-total-price
    @include column
    margin: 1%
    position: absolute

.total-price-header
    font-weight: 500
    margin: 1%
    text-align: center
    vertical-align: middle
    text-transform: capitalize

.total-price-container,
.cart-total-price
    @include flex
    @include justifyContent(center, center)