@import './colours'
@import './mixins.sass'

*
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    margin: 0
    padding: 0

html
    -moz-osx-font-smoothing: grayscale
    -moz-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%
    text-size-adjust: 100%

body
    background-color: $linen

.card
    background-color: $gainsboro

.category
    color: $red-blood

.container
    background-color: $linen
    margin: 0 auto
    padding: 8%

.flex
    @include justifyContent(space-around, justify)

.model
    color: $windows-blue
    font-size: 1rem

.navy-header
    color: $navy

.out-of-stock
    margin: 5%
    white-space: normal

.total-price
    font-size: 1.2rem
    font-weight: 700

.brand,
.card
    padding: 3%

.brand,
.price
    font-size: 1.5rem

.colour,
.grey-header
    color: $roman-silver
    &::first-letter
        text-transform: uppercase

.container,
.mt-4
    @include column

.brand,
.category,
.model
    text-transform: capitalize

.brand,
.category,
.total-price
    white-space: nowrap

.container,
.flex,
.mt-4
    @include alignItems(center, center)
    @include flex
    @include justifyContent(center, center)

.model,
.out-of-stock,
.price
    font-weight: 600

.price,
.out-of-stock,
.total-price
    text-transform: uppercase

.brand,
.out-of-stock,
.price,
.total-price
    color: $tomato-sauce-red

.brand,
.model,
.out-of-stock,
.price,
.total-price
    padding: 1%

.category,
.colour,
.grey-header,
.navy-header,
.out-of-stock
    font-size: 0.8rem

.brand,
.category,
.grey-header,
.model,
.out-of-stock,
.total-price
    @include text(center, middle)

@media (width < 650px)
    .container
        padding: 25%

@media (650px <= width < 850px)
    .container
        padding: 12%

@media (850px <= width <= 1200px)
    .container
        padding: 10%