@import '@styles/colours'
@import '@styles/fonts'
@import '@styles/mixins.sass'

.header
    left: 0
    position: fixed
    right: 0
    top: 0
    z-index: 2

.bg-gray-800
    border-radius: 0 0 50em 50em

.logo
    width: 5%

.flex
    & a
        color: $roman-silver
        font-family: $roboto
        font-size: 1rem
        &:hover
            @include scale(1.05)
            color: $gainsboro

.pageTitle
    @include text(center, middle)
    color: $crimson
    font-family: $bungee-inline
    font-size: 1.5rem
    font-weight: 400
    &:hover
        color: $medium-blue
        font-weight: 800

.space-x-4,
.space-y-1
    text-transform: capitalize

@media screen and (max-width:991px)
    .bg-gray-800
        border-radius: 0 0 2.5em 2.5em

    .logo
        display: none

    .pageTitle
        font-size: 0.5rem

@media screen and (min-width:992px) and (max-width:1024px)
    .logo
        display: none

    .pageTitle
        font-size: 0.9rem