@import '@styles/colours'
@import '@styles/mixins.sass'

.cart-table
    background-color: $transparent-grey
    inset: 0
    position: absolute
    z-index: 2

.table-container
    background-color: $gainsboro
    border-radius: 0.3em
    height: 85%
    margin: 2vh auto
    padding: 2%
    width: 95%

.table-list
    -ms-overflow-style: none
    overflow-y: scroll
    scrollbar-width: none
    width: 80%
    &::-webkit-scrollbar
        display: none

.table-card
    @include justifyContent(space-evenly, justify)
    background-color: $gainsboro
    border-radius: 0.3em
    margin: 0 auto 8%
    width: 100%

.table-card-image
    @include scale(0.8)
    width: 40%

.price-per-item
    margin: 2%

.table-card-info
    margin-bottom: 5%
    width: 50%

.sub-total-price
    color: $tomato-sauce-red
    font-size: 1rem
    font-weight: 600
    text-transform: uppercase

.order-buttons
    @include justifyContent(space-around, justify)

.table-list,
.order-buttons
    @include column

.cart-table,
.table-list
    padding: 0

.cart-table,
.table-card-info
    @include justifyContent(center, center)

.table-card,
.table-card-info,
.order-buttons
    @include alignItems(center, center)

.cart-table,
.table-list,
.table-card-image
    margin: 0

.cart-table,
.table-container,
.table-card
    @include row

.table-container,
.table-card-image,
.order-buttons
    position: relative

.sub-total-price,
.price-per-item,
.table-card-info
    @include text(center, middle)

.cart-table,
.table-container,
.table-list,
.table-card,
.table-card-info,
.order-buttons
    @include flex