@import '@styles/colours'
@import '@styles/fonts'
@import '@styles/mixins.sass'

.button
    font-family: $poppins
    font-size: 0.8rem
    margin: 5% auto 2%

.home-button
    background-color: $gainsboro
    border: 0.1em solid $windows-blue
    color: $windows-blue
    font-family: $lato
    font-size: 1rem
    margin: 0 auto
    &:link
        color: $windows-blue
    &:visited
        color: $medium-blue
    &:hover
        background-color: $dark-white
        color: $royal-blue
    &:active
        color: $blue-whale

.button,
.home-button
    @include text(center, middle)
    cursor: pointer
    display: block

.button::first-letter,
.home-button::first-letter
    text-transform: uppercase

@media (width < 600px)
    .button
        font-size: 0.6rem

@media (600px <= width <= 850px)
    .button
        font-size: 0.8rem

    .home-button
        font-size: 1rem