@import '@styles/colours'
@import '@styles/mixins.sass'

.cart-form
    background-color: $transparent-dark-grey
    height: 100%
    inset: 0
    position: fixed
    width: 100%
    z-index: 2

.cart-form-container
    background-color: $gainsboro
    border-radius: 0.5em
    height: 83%
    margin: 3vh auto
    width: 94%
    z-index: 3

.form-container
    @include alignItems(baseline, baseline)
    margin: 0.5% 5%
    width: 80%

.form
    @include column
    width: 100%

.form-buttons
    margin: 1% auto
    white-space: nowrap

.cart-form-container,
.form-container
    @include justifyContent(space-around, justify)

.form,
.form-buttons
    @include alignItems(center, center)
    @include justifyContent(center, center)

.cart-form-container,
.form-container,
.form-buttons
    @include row
    position: relative

.cart-form-container,
.form-container,
.form,
.form-buttons
    @include flex