@import '@styles/colours'
@import '@styles/fonts'
@import '@styles/mixins.sass'

.article-code
    @include alignItems(flex-end, end)
    @include flex
    @include justifyContent(center, center)
    @include text(center, middle)
    bottom: 2%
    color: $roman-silver
    font-family: $lato
    font-size: 0.6rem
    font-weight: 400
    position: absolute
    width: 100%

@media (width < 650px)
    .article-code
        font-size: 0.2rem

@media (650px <= width < 850px)
    .article-code
        font-size: 0.3rem

@media (850px <= width <= 1200px)
    .article-code
        font-size: 0.4rem

@media (width <= 1024px)
    .article-code
        bottom: 18%